Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as groupby() and query(). Write functions for repetitive tasks.

TODOs:

See the spread of pandemic in different countries.
Plot graphs for Reproduction Rate for different countries side by side or in the same graph.
Check correlation between deaths and recoveries.
Compare recoveries between countries.
Are there any outliers (anomalies)?

In [16]:

infected_dataset_url = r"C:\ornekler\kizKarDes_data_sience\data\covid\time_series_covid19_confirmed_global.csv"
recovered_dataset_url = r"C:\ornekler\kizKarDes_data_sience\data\covid\time_series_covid19_deaths_global.csv"
deaths_dataset_url =  r"C:\ornekler\kizKarDes_data_sience\data\covid\time_series_covid19_recovered_global.csv"

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#  okuma
df_confirmed = pd.read_csv(infected_dataset_url)
df_recovered = pd.read_csv(recovered_dataset_url)
df_deaths    = pd.read_csv(deaths_dataset_url)

In [22]:
df_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142

In [23]:
df_confirmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 311.8+ KB

In [19]:
df_recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6

In [20]:
df_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64

In [27]:
def tidy_covid(df_wide: pd.DataFrame, value_name: str) -> pd.DataFrame:
    id_cols = ["Province/State", "Country/Region", "Lat", "Long"]
    df_long = (
        df_wide
        .melt(id_vars=id_cols, var_name="Date", value_name=value_name)
        .assign(Date=lambda x: pd.to_datetime(x["Date"]))
    )
    return df_long

In [31]:
tidy_confirmed = tidy_covid(df_confirmed, "Confirmed")
tidy_deaths    = tidy_covid(df_deaths,    "Deaths")
tidy_recovered = tidy_covid(df_recovered, "Recovered")

C:\Users\dellg\AppData\Local\Temp\ipykernel_17952\339454564.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  .assign(Date=lambda x: pd.to_datetime(x["Date"]))
C:\Users\dellg\AppData\Local\Temp\ipykernel_17952\339454564.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  .assign(Date=lambda x: pd.to_datetime(x["Date"]))
C:\Users\dellg\AppData\Local\Temp\ipykernel_17952\339454564.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  .assign(Date=lambda x: pd.to_datetime(x["Date"]))

In [32]:
tidy_confirmed.head(10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0
1,NaN,Albania,41.1533,20.1683,2020-01-22,0
2,NaN,Algeria,28.0339,1.6596,2020-01-22,0
3,NaN,Andorra,42.5063,1.5218,2020-01-22,0
4,NaN,Angola,-11.2027,17.8739,2020-01-22,0
5,NaN,Antigua and Barbuda,17.0608,-61.7964,2020-01-22,0
6,NaN,Argentina,-38.4161,-63.6167,2020-01-22,0
7,NaN,Armenia,40.0691,45.0382,2020-01-22,0
8,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0
9,New South Wales,Australia,-33.8688,151.2093,2020-01-22,0

In [34]:
tidy_deaths.head(10)

,Province/State,Country/Region,Lat,Long,Date,Deaths
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0
1,NaN,Albania,41.1533,20.1683,2020-01-22,0
2,NaN,Algeria,28.0339,1.6596,2020-01-22,0
3,NaN,Andorra,42.5063,1.5218,2020-01-22,0
4,NaN,Angola,-11.2027,17.8739,2020-01-22,0
5,NaN,Antigua and Barbuda,17.0608,-61.7964,2020-01-22,0
6,NaN,Argentina,-38.4161,-63.6167,2020-01-22,0
7,NaN,Armenia,40.0691,45.0382,2020-01-22,0
8,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0
9,New South Wales,Australia,-33.8688,151.2093,2020-01-22,0

See the spread of pandemic in different countries

In [36]:
key_cols = ["Province/State", "Country/Region", "Lat", "Long", "Date"]

full = (
    tidy_confirmed
    .merge(tidy_deaths,    on=key_cols, how="left")
    .merge(tidy_recovered, on=key_cols, how="left")
    .fillna(0)
)

In [37]:
# 1) Kaç farklı ülke var?
n_countries = full["Country/Region"].nunique()
print("Benzersiz ülke sayısı:", n_countries)

Benzersiz ülke sayısı: 188

In [39]:
# 2) Province/State sütununda kaç farklı değer var? 
n_states = full["Province/State"].nunique(dropna=True)
print("Benzersiz eyalet/il (Province/State) sayısı:", n_states)

Benzersiz eyalet/il (Province/State) sayısı: 82

In [45]:
%pip install plotly

Collecting plotly
  Downloading plotly-6.0.1-py3-none-any.whl.metadata (6.7 kB)
Collecting narwhals>=1.15.1 (from plotly)
  Downloading narwhals-1.37.1-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: packaging in c:\users\dellg\appdata\roaming\python\python311\site-packages (from plotly) (24.2)
Downloading plotly-6.0.1-py3-none-any.whl (14.8 MB)
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
    --------------------------------------- 0.3/14.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/14.8 MB 882.6 kB/s eta 0:00:17
   -- ------------------------------------- 0.8/14.8 MB 1.1 MB/s eta 0:00:13
   -- ------------------------------------- 1.0/14.8 MB 1.1 MB/s eta 0:00:13
   ---- ----------------------------------- 1.6/14.8 MB 1.3 MB/s eta 0:00:11
   ---- ----------------------------------- 1.8/14.8 MB 1.3 MB/s eta 0:00:10
   ----- ---------------------------------- 2.1/14.8 MB 1.4 MB/s eta 0:00:10
   ------ --------------------------------- 2.4/14.8 MB 1.4 MB/s eta 0:00:09
   ------- -------------------------------- 2.9/14.8 MB 1.5 MB/s eta 0:00:09
   -------- ------------------------------- 3.1/14.8 MB 1.5 MB/s eta 0:00:08
   --------- ------------------------------ 3.7/14.8 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.9/14.8 MB 1.5 MB/s eta 0:00:08
   ----------- ---------------------------- 4.2/14.8 MB 1.5 MB/s eta 0:00:08
   ------------ --------------------------- 4.5/14.8 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.7/14.8 MB 1.5 MB/s eta 0:00:07
   ------------- -------------------------- 5.0/14.8 MB 1.5 MB/s eta 0:00:07
   -------------- ------------------------- 5.2/14.8 MB 1.5 MB/s eta 0:00:07
   --------------- ------------------------ 5.8/14.8 MB 1.5 MB/s eta 0:00:07
   ---------------- ----------------------- 6.0/14.8 MB 1.5 MB/s eta 0:00:06
   ---------------- ----------------------- 6.3/14.8 MB 1.5 MB/s eta 0:00:06
   ----------------- ---------------------- 6.6/14.8 MB 1.5 MB/s eta 0:00:06
   ------------------- -------------------- 7.1/14.8 MB 1.5 MB/s eta 0:00:06
   ------------------- -------------------- 7.3/14.8 MB 1.5 MB/s eta 0:00:05
   --------------------- ------------------ 7.9/14.8 MB 1.5 MB/s eta 0:00:05
   --------------------- ------------------ 8.1/14.8 MB 1.5 MB/s eta 0:00:05
   ----------------------- ---------------- 8.7/14.8 MB 1.6 MB/s eta 0:00:04
   ------------------------ --------------- 8.9/14.8 MB 1.6 MB/s eta 0:00:04
   ------------------------- -------------- 9.4/14.8 MB 1.6 MB/s eta 0:00:04
   -------------------------- ------------- 9.7/14.8 MB 1.6 MB/s eta 0:00:04
   -------------------------- ------------- 10.0/14.8 MB 1.6 MB/s eta 0:00:04
   --------------------------- ------------ 10.2/14.8 MB 1.6 MB/s eta 0:00:03
   --------------------------- ------------ 10.2/14.8 MB 1.6 MB/s eta 0:00:03
   --------------------------- ------------ 10.2/14.8 MB 1.6 MB/s eta 0:00:03
   ---------------------------- ----------- 10.5/14.8 MB 1.5 MB/s eta 0:00:03
   ----------------------------- ---------- 10.7/14.8 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 11.0/14.8 MB 1.4 MB/s eta 0:00:03
   ------------------------------ --------- 11.3/14.8 MB 1.4 MB/s eta 0:00:03
   ------------------------------- -------- 11.5/14.8 MB 1.4 MB/s eta 0:00:03
   ------------------------------- -------- 11.8/14.8 MB 1.4 MB/s eta 0:00:03
   ------------------------------- -------- 11.8/14.8 MB 1.4 MB/s eta 0:00:03
   --------------------------------- ------ 12.3/14.8 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 12.6/14.8 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 12.8/14.8 MB 1.4 MB/s eta 0:00:02
   ----------------------------------- ---- 13.1/14.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------------ --- 13.4/14.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------------ --- 13.6/14.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 13.9/14.8 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 14.2/14.8 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 14.4/14.8 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 14.8/14.8 MB 1.4 MB/s eta 0:00:00
Downloading narwhals-1.37.1-py3-none-any.whl (332 kB)
Installing collected packages: narwhals, plotly
Successfully installed narwhals-1.37.1 plotly-6.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [47]:
import plotly.express as px

latest = country_daily[country_daily["Date"] == country_daily["Date"].max()]

fig = px.choropleth(
        latest,
        locations="Country/Region",
        locationmode="country names",
        color="Confirmed",
        hover_name="Country/Region",
        color_continuous_scale="Reds",
        title="Son Tarihte Kümülatif Vaka Sayısı")
fig.show()

NameError: name 'country_daily' is not defined